<div class="container d-flex justify-content-center">
  <div class="auth-form auth-form-wide">
    <h2 class="auth-head">New pet</h2>
    <%= simple_form_for @pet do |f| %>
      <%= f.input :name %>
      <%= f.input :gender %>
      <%= f.input :species %>
      <%= f.input :age %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <div class="form-actions auth-btn-container">
        <%= f.button :submit, 'Submit', class: "auth-btn" %>
      </div>
    <% end %>
    <div class="form-actions auth-btn-container">
    <%= link_to "Back", shelter_path,
                class: "auth-btn-back" %>
    </div>
  </div>
</div>
