<div class="card pet-card" >
  <%= link_to pet_path(pet), class:"pet-card-btn" do%>
    <% if pet.photo.attached? %>
      <%= cl_image_tag pet.photo.key, width: 300, height: 200, class: "pet-card-image"%>
    <% else %>
      <img src='https://source.unsplash.com/featured/?<%=pet.species%>&#{rand(10000)}' alt="main-photo photo" class="pet-card-image" >
    <% end %>
    <div class="card-body px-3">
      <h3 class="card-title"><%= pet.name %> (<%= pet.species %>)</h3>
      <p class="card-text">Location: <%= pet.shelter.location %></p>
      <p class="card-text">Price: $<%= pet.price %>0/day</p>
      <%= link_to "Delete", pet_path(pet), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if delete && current_user.shelter == pet.shelter%>
    </div>
  <%end %>
</div>
