<div class="booking-card pet-card reservation-card" style="width: 20rem;">
    <% if booking.pet.photo.attached? %>
  <%= cl_image_tag booking.pet.photo.key, width: 300, height: 200, class: "pet-card-image"%>
  <% else %>
  <img src="https://source.unsplash.com/featured/?#{pet.species}&#{rand(10000)}" alt="main-photo photo" class="pet-card-image" >
  <% end %>
  <div class="card-body px-3">
    <h3 class="card-title my-3"><%= booking.pet.name %></h3>
    <p class="card-text">Status: <%= booking.status.upcase %></p>
    <p class="card-text">From: <%= booking.start_date.strftime("%d/%m/%y") %></p>
    <p class="card-text">To: <%= booking.end_date.strftime( "%d/%m/%y") %></p>
    <div class="card-text">Total: $<%= (booking.end_date-booking.start_date).to_i * booking.pet.price %>
      (<%= (booking.end_date-booking.start_date).to_i %> days total)
    </div>

    <% if booking.status == "pending" %>
      <div class="booking-card-form d-flex justify-content-between">
        <% if booking.pending? %>
          <%= simple_form_for booking do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
            <%= f.submit 'Accept', class: 'booking-card-btn accept' %>
          <% end %>
          <%= simple_form_for booking do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
            <%= f.submit 'Reject', class: 'booking-card-btn reject' %>
          <% end %>
        <% else %>
          <p><%= booking.status %></p>
        <% end %>
      </div>
    <% end %>
    <div class="delete-btn">
       <%= link_to booking_path(booking),
                   data: {turbo_method: :delete,
                          turbo_confirm: "Are you sure?"} do%>
         <i class="fa-solid fa-circle-xmark p-1"></i>
       <%end %>
    </div>
  </div>
</div>
